#punchButton{
    font-family: monospace;
    font-size: 20px;
    background-color: #008fb3;  
    color: mintcream;
    border-radius:10px;
    border-color: black;
    border-width: 3px;
    outline: none;
    padding: 15px 60px;
    }
    #counterButton{
        font-family: monospace;
        font-size: 20px;
        background-color: maroon;
        color: mintcream;
        border-radius:10px;
        border-color: black;
        border-width: 3px;
        outline: none;
        padding: 15px 60px;
    } 
    #biteButton{
    font-family: monospace;
    font-size: 20px;
    background-color:sandybrown;
    color: mintcream;
    border-radius:10px;
    border-color: black;
    border-width: 3px;
    outline: none;
    padding: 15px 60px;
    }
    



    
    #punchButton:active {
        background-color: #0099ff;
        box-shadow: 0 3px #666;
        transform: translateY(4px);
    }
    #counterButton:active {
        background-color: #e60000;
        box-shadow: 0 3px #666;
        transform: translateY(4px);
    }
    #biteButton:active {
        background-color: #5900b3;
        box-shadow: 0 3px #666;
        transform: translateY(4px);
    }



    .hide{
        padding:10px ;
        font-weight:bold ;
        background-color: #e60000;
        color: #000;
    }


    .hidden{
        z-index:1;
        position: absolute;
       
    }

    #showPara{
        visibility: hidden;
        left: 35%;
        top:40%;

        font-family: monospace;
        font-size: 20px;
        background-color: blanchedalmond;
        border-radius: 6px;
    }
